img{
  margin-left: 10%;
  float: left;
}

.utente_loggato{
  float:right;
  margin-right: 10%;
}

p{
  margin-bottom: 5px;
}

.nome{
  font-weight: bold;
}

header{
  float: none;
  overflow: auto;
}

h1{
  width: 55%;
  float: left;
  margin-left: 30px;
}