<header class="d-flex flex-row justify-content-around align-items-center">
  <img src="assets/piemonte.png" alt="logo Piemonte" width="50" height="50">
  <h1 class="text-uppercase">Scopriamo il Piemonte</h1>
  <div [ngSwitch]="statoLogin">
    <div *ngSwitchCase="StatoLogin.ospite">
      <button class="btn btn-primary" (click)="changeLoginStatus(StatoLogin.accesso)">Accedi</button>
      <button class="btn btn-primary" (click)="changeLoginStatus(StatoLogin.registrazione)">Registrati</button>
    </div>
    <div *ngSwitchCase="StatoLogin.registrazione">
      <button class="btn btn-primary" (click)="changeLoginStatus(StatoLogin.ospite)">Indietro</button>
    </div>
    <div *ngSwitchCase="StatoLogin.accesso">
      <button class="btn btn-primary" (click)="changeLoginStatus(StatoLogin.ospite)">Indietro</button>
    </div>
    <div *ngSwitchCase="StatoLogin.effettuato" class="d-flex flex-row justify-content-start align-items-center">
      <!-- aggiungere un'immagine -->
      <div class="mr-0 mr-sm-3">
        <p class="nome mb-1 mt-2"> <b> {{utente.nome}} </b> </p>
        <p class="ruolo"> {{utente.ruolo}} </p>
      </div>
      <div>
        <button class="btn btn-danger" (click)="changeLoginStatus(StatoLogin.ospite);logOut()">Esci</button>
      </div>
    </div>
  </div>
</header>
