header{
  max-height: 55px;
  overflow: hidden;
  float: none;
}

img{
  margin-left: 10%;
  float: left;
}

.utente_loggato{
  float:right;
  margin-right: 10%;
  height: 50px;
}

.utente_loggato > div{
  float: left;
  margin-right: 5px;
}

.logout{
  background-color: crimson;
  margin-top: 8px;
}

p{
  margin-bottom: 5px;
}

.nome{
  font-weight: bold;
}

h1{
  width: 55%;
  float: left;
  margin-left: 30px;
}