nav{
  background-color: #232f3e;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-top: none;
}

nav *{
  color:ghostwhite;
}

li{
  border-width: 0px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: black;
  border-style: solid;
}

li:hover{
  background-color: #232fff;
}
.m_title:first-letter {text-transform: uppercase}
