nav{
  background-color: dimgrey;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

nav *{
  color:ghostwhite;
}

li{
  border-width: 0px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: black;
  border-style: solid;
}

li:hover{
  background-color: #d3041c;
}
.m_title:first-letter {text-transform: uppercase}
