<div class="d-flex flex-column mt-3 p-3 parent">
  <div>
    <h2> Dati personali </h2>
    <div *ngIf="nome !== null && nome !== ''">
      <p> <b>Nome: </b> {{nome}} </p>
    </div>
    <div *ngIf="cognome !== null && cognome !== ''">
      <p> <b>Cognome: </b> {{cognome}} </p>
    </div>
    <div *ngIf="codiceFiscale !== null && codiceFiscale !== ''">
      <p> <b>Codice Fiscale: </b> {{codiceFiscale}} </p>
    </div>
    <div *ngIf="telefono !== null && telefono !== ''">
      <p> <b>Numero di telefono: </b> {{telefono}} </p>
    </div>
    <div *ngIf="email !== null && email !== ''">
      <p> <b>Email: </b> {{email}} </p>
    </div>
    <div *ngIf="ruolo !== null">
      <p> <b>Ruolo: </b> {{ruolo}} </p>
    </div>
  </div>
  <div>
    <h2> Comune di Residenza </h2>
    <div *ngIf="nomeComuneResidenza !== null && nomeComuneResidenza !== ''">
      <p> <b>Nome: </b> {{nomeComuneResidenza}} </p>
    </div>
    <div *ngIf="provinciaComuneResidenza !== null && provinciaComuneResidenza !== ''">
      <p> <b>Provincia: </b> {{provinciaComuneResidenza}} </p>
    </div>
  </div>
  <div>
    <h2> Comune di lavoro </h2>
    <div *ngIf="nomeComuneDipendente !== null && nomeComuneDipendente !== ''">
      <p> <b>Nome: </b> {{nomeComuneDipendente}} </p>
    </div>
    <div *ngIf="provinciaComuneDipendente !== null && provinciaComuneDipendente !== ''">
      <p> <b>Provincia: </b> {{provinciaComuneDipendente}} </p>
    </div>
  </div>
</div>
