.superDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrazione{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.platform{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.annulla{
  margin-top: 60px;
  background: red;
}

.pwError{
  color: red;
}

.registrati{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  width: 200px;
  font-weight: bold;
  border-radius: 10px;
}
