<div class="superDiv">
  <h1>
    REGISTRAZIONE
  </h1>

  <form class="registrazione">

    <h2>Compila i seguenti campi</h2>
    <label>Inserire il tuo nome</label>
    <input name="nome" id="inputNome" placeholder="Nome Utente">
    <label>Inserire l'email</label>
    <input name="email" type="email" id="inputMail" placeholder="Email Address">
    <label>Inserire la password</label>
    <input name="password" type="password" id="inputPassword" placeholder="Password" [(ngModel)]="pw1">
    <!--[(ngModel)]="pw1" rappresenta la variabile in cui viene memorizzata nel javascript-->
    <label>Confermare la password</label>
    <input name="password" type="password" id="inputConfermaPassword" placeholder="Conferma Password" [(ngModel)]="pw2">
    <div *ngIf="passwordDiverse()">
      <label class="pwError">le due password non corrispondono!</label>
    </div>
    <button class="btn" type="button">Registrati</button>

  </form>

  <button (click)="annulla()" class="annulla btn">ANNULLA</button>

</div>
