<form class="form-horizontal mt-3 p-3" (ngSubmit)="registrati()" #registrazione="ngForm">
  <h1>REGISTRAZIONE</h1>
  <h2>Compila i seguenti campi</h2>
  <div class="form-group">
    <label class="control-label" for="nome">Inserire il tuo nome: </label>
    <input class="form-control" type="text" id="nome" required 
      [(ngModel)]="nome" name="nome" placeholder="Nome Utente">
  </div>
  <div class="form-group">
    <label class="control-label" for="email">Inserire l'email: </label>
    <input class="form-control" type="email" id="email" required 
      [(ngModel)]="email" name="email" placeholder="Indirizzo Email">
  </div>
  <div class="form-group">
    <label class="control-label" for="pass1">Inserire la password: </label>
    <input class="form-control" type="password" id="pass1" required 
      [(ngModel)]="pw1" name="pass1" placeholder="Password">
  </div>
  <div class="form-group">
    <label class="control-label" for="pass2">Confermare la password: </label>
    <input class="form-control" type="password" id="pass2" required 
      [(ngModel)]="pw2" name="pass2" placeholder="Confermare la password">
    <div class="erroreAccesso" *ngIf="passwordDiverse()">
      le due password non corrispondono!
    </div>
  </div>
  <div class="form-group">
    <div class="submit">
      <button type="submit" class="btn btn-success" [disabled]="!registrazione.form.valid || passwordDiverse()">Registrati</button>
    </div>
  </div>

</form>
