<div [hidden]="submitted">
  <form class="form-horizontal mt-3 p-3 big_card" (ngSubmit)="onSubmit()" #creaEvento="ngForm">
    <h2 class="text-center">Crea evento</h2>
    <div class="form-group">
      <label class="control-label" for="nome">nome: </label>
      <input class="form-control" type="text" id="nome" required 
        [(ngModel)]="evento.nome" name="nome">
    </div>
    <div class="form-group">
      <label class="control-label" for="descrizione">descrizione: </label>
      <textarea class="form-control" id="descrizione" 
        [(ngModel)]="evento.descrizione" name="descrizione"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" for="numPosti">numero posti: </label>
      <input class="form-control" type="number" id="numPosti" required 
        [(ngModel)]="evento.numMaxPartecipanti" name="numero posti" min="0" oninput="validity.valid||(value='');">
    </div>
    <div class="form-group">
      <label class="control-label" for="minPartecipanti">numero minimo di partecipanti: </label>
      <input class="form-control" type="number" id="minPartecipanti" 
        [(ngModel)]="evento.partecipantiMin" name="numero minimo partecipanti"
        min="0" oninput="validity.valid||(value='');">
    </div>
    <div class="form-group">
      <label class="control-label" for="prezzo">prezzo (€): </label>
      <input class="form-control" type="number" id="prezzo" 
        [(ngModel)]="evento.prezzo" name="prezzo"
        min="0" step="0.01" oninput="validity.valid||(value='');">
    </div>
    <div class="form-group">
      <label class="control-label" for="data">data: </label>
      <input class="form-control" type="date" id="data" required
        [(ngModel)]="evento.data" name="data">
    </div>
    <div class="form-check form-group">
      <label class="form-check-label" for="streaming"> 
        <input class="form-check-input" type="checkbox" id="streaming"
        [(ngModel)]="evento.streaming" name="streaming">
        l'evento supporterà lo streaming?
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="coordinate">seleziona dove si terrà l'evento: </label>
      <div id='myMap' #myMap style='width: 65vw; height: 65vh; margin-left: auto; margin-right: auto;'></div>
    </div>
    <div class="form-group row justify-content-center">
      <button type="submit" class="btn btn-success" [disabled]="!creaEvento.form.valid || evento.latitudine == 0 || evento.longitudine == 0 || posting">Conferma</button>
    </div>
  </form>
</div>
<div class="text-center mt-5" [hidden]="!submitted">
  <h2>Evento creato con successo!</h2>
</div>