<mat-vertical-stepper #stepper [linear]="isLinear">
  <form>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Il nome è obbligatorio">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Nome</ng-template>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input [(ngModel)]="evento.nome" matInput placeholder="Nome" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Avanti</button>
        </div>
      </form>
    </mat-step>
  </form>
  <mat-step [stepControl]="secondFormGroup" errorMessage="La descrizione è obbligatoria">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Descrizione</ng-template>
      <mat-form-field>
        <mat-label>Descrizione</mat-label>
        <textarea [(ngModel)]="evento.descrizione" matInput placeholder="Descrizione" formControlName="secondCtrl"
                  required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Numero posti limitati</ng-template>
      <mat-form-field>
        <mat-label>Numero posti limitati</mat-label>
        <input type="number" [(ngModel)]="evento.numMaxPartecipanti" matInput placeholder="0" min="0" formControlName="thirdCtrl"
        >
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Numero minimo di partecipanti</ng-template>
      <mat-form-field>
        <mat-label>Numero posti</mat-label>
        <input type="number" [(ngModel)]="evento.partecipantiMin" matInput placeholder="0" min="0" formControlName="fourthCtrl"
        >
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Prezzo</ng-template>
      <mat-form-field floatLabel="always">
        <mat-label>Prezzo</mat-label>
        <input type="number" class="example-right-align" [(ngModel)]="evento.prezzo" matInput placeholder="0" formControlName="fifthCtrl"
        >
        <span matPrefix>€&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sixthFormGroup" errorMessage="La data è obbligatoria">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Data</ng-template>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Scegli la data</mat-label>
        <input [(ngModel)]="evento.data" matInput placeholder="MM/GG/AAAA" [matDatepicker]="picker" formControlName="sixthCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="seventhFormGroup">
    <form [formGroup]="seventhFormGroup">
      <ng-template matStepLabel>Streaming</ng-template>
      <section class="example-section">
        <mat-checkbox [(ngModel)]="evento.streaming" class="example-margin">L'evento supporterà lo streaming?</mat-checkbox>
      </section>
      <div>
        <button mat-button matStepperPrevious>Indietro</button>
        <button mat-button matStepperNext>Avanti</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="eighthFormGroup">
    <form [formGroup]="eighthFormGroup">
      <ng-template matStepLabel>Localizzazione</ng-template>
      <div id='myMap' #myMap style='width: 65vw; height: 65vh; margin-left: auto; margin-right: auto;'></div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fine</ng-template>
    <p>Hai finito..</p>
    <div>
      <button mat-button matStepperPrevious>Indietro</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">Resetta</button>
      <button mat-raised-button color="primary" (click)="stepper.onsubmit" class="btn btn-success">Termina</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
