<div class="d-flex flex-row flex-wrap justify-content-center">
    <ng-container *ngFor="let ev of listaEventi$ | async">
      <div *ngIf="!isFiltered(ev)" class="m-2 p-2 evento">
        <p><b>{{ev.nome}}</b></p>
        <p>{{ev.descrizione}}</p>
        <p><b>Posti rimanenti:</b> {{postiRimanenti(ev)}}</p>
        <p><b>Data:</b> {{ev.data | date}}</p>
        <p><b>Prezzo:</b> {{ev.prezzo}}</p>
        <p><b>Comune: </b> {{ev.comune.nome}} </p>
        <p><b>Provincia: </b> {{ev.comune.provincia}} </p>
        <p><b>Indirizzo: </b> {{ev.indirizzo}} </p>
        <div *ngIf="userRole !== Ruolo.ospite">
          <div *ngIf="subscribed(ev); else subscribedBlock">
            <button type="button" class="btn btn-primary" (click)="unsubscribe(ev, $event)"> Annulla iscrizione </button>
          </div>
          <ng-template #subscribedBlock>
            <button type="button" class="btn btn-primary" (click)="subscribe(ev, $event)"> Iscriviti </button>
          </ng-template>
          <div *ngIf="isMine(ev)" class="mt-1">
            <button type="button" class="btn btn-danger" (click)="delete(ev, $event)"> Elimina </button>
          </div>
        </div>
      </div>
    </ng-container>
</div>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
    Top
  </button>
</div>