<div class="d-flex flex-column filterBox">
  <div class="mt-2">
    <label for="selettoreDistanza">Distanza:</label> <br>
    <input type="range" #selettoreDistanza name="distanza" min="5" max="400" [(ngModel)]="filtri.distanza">
    <label class="ml-2">{{filtri.distanza}} km</label>
  </div>
  <div class="mt-2">
    <label for="checkNascondiPieni">Disponibilità:</label> <br>
    <input type="checkbox" #checkNascondiPieni name="nascondiPieni" [(ngModel)]="filtri.nascondiPieni">
    <label class="ml-2">nascondi eventi pieni</label>
  </div>
  <div class="mt-2">
    <label for="checkIscrizioni">Mostra solo iscrizioni:</label> <br>
    <input type="checkbox" #checkIscrizioni name="iscrizioni" [(ngModel)]="filtri.iscrizioni">
  </div>
  <div class="mt-2">
    <label for="checkNoIscrizioni">Non mostrare iscrizioni:</label> <br>
    <input type="checkbox" #checkNoIscrizioni name="noIscrizioni" [(ngModel)]="filtri.noIscrizioni">
  </div>
  <div class="mt-2">
    <label>Prezzo:</label> <br>
    <label for="selettorePrezzoMin">Da:</label> <br>
    <input type="range" #selettorePrezzoMin name="prezzoMin" min="0" max="500" [(ngModel)]="filtri.prezzoMin"
      (input)="verificaPrezzi()">
    <label class="ml-2">{{filtri.prezzoMin}} €</label> <br>
    <label for="selettorePrezzoMax">A:</label> <br>
    <input type="range" #selettorePrezzoMax name="prezzoMax" min="{{filtri.prezzoMin}}" max="500" [(ngModel)]="filtri.prezzoMax">
    <label class="ml-2">{{filtri.prezzoMax}} €</label>
  </div>
  <div class="mt-2">
    <label>Data:</label> <br>
    <label for="selettoreDataInizio">Da:</label> <br>
    <input type="date" #selettoreDataInizio name="dataInizio" [value]="filtri.dataMin | date:'yyyy-MM-dd'"
      (input)="filtri.dataMin=$event.target.valueAsDate"> <br>
      <label for="selettoreDataFine" class="mt-1">A:</label> <br>
      <input type="date" #selettoreDataFine name="dataFine" [value]="filtri.dataMax | date:'yyyy-MM-dd'"
        (input)="filtri.dataMax=$event.target.valueAsDate"> <br>
  </div>
</div>