<div>
  <app-header [statoLogin]="statoLogin" (loginEmitter)="modificaStatoLogin($event)"></app-header>
</div>
<div>
  <app-navbar 
    *ngIf="statoLogin === StatoLogin.ospite || statoLogin === StatoLogin.effettuato"
    [ruoloUtente]="utente.ruolo"></app-navbar>
</div>
<div>
  <div [ngSwitch]="statoLogin">
    <!-- eseguo lo switch case sulla variabile pagina (stringa) che mi identifica in ogni momento cosa devo visualizzare -->
    <div *ngSwitchCase="StatoLogin.ospite"> <h1> Sono un ospite </h1> </div>
    <div *ngSwitchCase="StatoLogin.registrazione"> <app-registrati (nuovaPagina)="getPagina($event)"></app-registrati> </div>
    <div *ngSwitchCase="StatoLogin.accesso"> <app-login (nuovaPagina)="getPagina($event)"></app-login> </div>
    <div *ngSwitchCase="StatoLogin.effettuato"> <app-home></app-home> </div>
  </div>
</div>
