<header>
  <!--top bar-->
  <nav>
    <div class="navBar">
      <button class="navItem" (click)="iscrizioni()">Iscrizioni</button>
      <button class="navItem" (click)="mioComune()">Il mio comune</button>
      <button class="navItem" (click)="naviga()">Naviga</button>
      <button class="navItem" (click)="esci()">Esci</button>
    </div>
  </nav>
</header>
<div>
  <!--pagina da visualizzare-->
  <div [ngSwitch]="paginaSindaco">
    <div *ngSwitchCase="'mioComune'"><app-mio-comune></app-mio-comune> </div>
    <div *ngSwitchCase="'iscrizioni'"><app-iscrizioni></app-iscrizioni> </div>
  </div>
</div>

