.navBar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  background-color: #1976d2;
  color: white;
  flex-wrap: wrap;
}

.navItem{
  font-size: large;
  background: transparent;
  color: white;
}
